
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared style */

.display-flex{
    display: flex;
}
.text-white{
    color: #ffffff ;

}
.header{
    color: rgba(65, 37, 103, 1);
    
}


/* header style */


/* navber related style */
.navber{
    justify-content: space-between;
    
}
.logo h3{
    font-weight: 45px;
   
}
.color-linear{
    color: rgba(145, 0, 248, 1);

}
.btn{
    background-color: rgb(133, 69, 179);
    border: none;
    padding: 3.5px 4px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600px;
    color: #ffffff;
   
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
    
.nav-link{
    text-decoration: none;
    font-weight: 500px;
   

}
.navber, .banner{
    max: width 1440px;
    margin: 0 auto;
}
.banner-container{
    position: relative;
}
.banner-image{
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
/* .icon-container {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
}

.icon-container > p > i {
  transition: transform 0.5s;
}

.icon-container > p:hover > i {
  transform: scale(1.5);
} */
